# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python 
1. R 
1. SQL 


Some of the commonly used libraries used by Data Scientists include:


1. Pandas 
1. SKlearn 
1. Matplotlib

| Data Science Tools | 
| --- | 
| Jupyter Notebook |
| Github | 
| Anaconda |

**Objectives:** 
- Learn about tools 
- Learn about frameworks 
- Learn about languages

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

In [ ]:
# This will convert 200 minutes to hours by diving by 60

h = 200 / 60 
h

## Author 

Faisal